.output-box-div {
    width: 80%;
    height: 250px;
    position: relative;
}

.output-box {
    width: 100%;
    height: 250px;
    box-shadow: 3px 9px 16px rgb(0, 0, 0, 0.4), -3px -3px 10px rgba(255, 255, 255, 0.06), inset 14px 14px 26px rgb(0, 0, 0, 0.3), inset -3px -3px 15px rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    /*   color: white;
  */ 
  color: var(--text_color);
}

@media only screen and (max-width: 600px) {
    .output-box-div {
        width: 95%;
    }

    .output-box {
        font-size: 15px;
    }
}