.select-stat-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.prefix-suffix-stat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
@media only screen and (max-width: 600px) {
    .select-stat-sec {
        gap: 20px;
    }
}