a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.sidebar {
    width: 300px;
    height: 100vh;
    /*    background: linear-gradient(to bottom, #303154, #2e2e4c);
*/background: var(--sidebar-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: -300px;
    transition: left 0.3s ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.open {
    left: 0;
}

nav ul {
    list-style: none;
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}

.nav-link {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    background: linear-gradient(to right, #303154, #2e2e4c);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.author p {
    color: white;
    font-size: 16px;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .author {
        margin-bottom: 40px;
    }
}
