.text-box {
    width: 85%;
    height: 250px;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; */
}

.text-area {
    width: 100%;
    height: 250px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    /* overflow: auto; */
    background-color: #141421;
    color: gray;
    border: 1px solid #2e2e4c;
    box-shadow: 3px 9px 16px rgb(0, 0, 0, 0.4), -3px -3px 10px rgba(255, 255, 255, 0.06), inset 14px 14px 26px rgb(0, 0, 0, 0.3), inset -3px -3px 15px rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    scrollbar-width: none;
    scrollbar-color: #888888 #f1f1f1;
}


/* Styles for Webkit browsers (Chrome, Safari) */
#text-area::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    /* Set the width of the scrollbar */
}

#text-area::-webkit-scrollbar-thumb {
    background-color: steelblue;
    border-radius: 0 10px 10px 0;
    /* Color of the thumb */
}

#text-area::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 0 10px 10px 0;
    /* Color of the track */
}

@media only screen and (max-width: 600px) {
    #text-area {
        width: 100%;
    }
}