.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.toggle-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  height: 40px;
  width: 40px;
  background: tomato;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.toggle-button.open-btn {
  background-color: #fff;
  color: #000;
  transform: rotate(360deg);
}

.open-btn {
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .toggle-button {
    top: 15px;
  }
}



body {
  --sb-track-color: #232E33;
  --sb-thumb-color: linear-gradient(to right, #260843, #553d7a);
  --sb-size: 8px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
   
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  border: 1px solid #25035c;
  }