* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --body_background: white;
  --text_color: black;
  --home-page-title-color: rgb(58, 38, 38);
  --sidebar-background: white;
  
}
[data-theme= "dark"]{
  --body_background: #141421;
  --text_color: white;
  --home-page-title-color: white;
  --sidebar-background: linear-gradient(to bottom, #303154, #2e2e4c);
}
