@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --body_background: white;
  --text_color: black;
  --home-page-title-color: rgb(58, 38, 38);
  --sidebar-background: white;

}

[data-theme="dark"] {
  --body_background: #141421;
  --text_color: white;
  --home-page-title-color: white;
  --sidebar-background: linear-gradient(to bottom, #303154, #2e2e4c);
}