.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181828;
    float:left;
}

.home-page-title {
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 3px blue;
}

#drop-constraint {
    width: 100%;
    height: 100vh;
    background-color: #141421;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #2e2e4c;
}
.drop-const-title {
    color: white;
}

#row-count {
    width: 100%;
    height: auto;
    background-color: #141421;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #2e2e4c;
}

#select-statement {
    width: 100%;
    height: auto;
    background-color: #141421;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #2e2e4c;
}

#section-4 {
    width: 100%;
    height: 100vh;
    background-color: #141421;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #2e2e4c;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.section-2-title,
.section-3-title,
.section-4-title {
    color: white;
}

@media only screen and (max-width: 600px) {
    .home-page-title {
        font-size: 22px;
    }

    #drop-constraint {
        height: auto;
    }
}