.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181828;
}

.home-page-title {
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 3px red;
}

#drop-constraint {
    width: 100%;
    height: fit-content;
    background-color: #141421;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #2e2e4c;
}
.drop-const-title {
    color: white;
}

#row-count {
    width: 100%;
    height: fit-content;
    background-color: #141421;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #2e2e4c;
}

#select-statement {
    width: 100%;
    height: fit-content;
    background-color: #141421;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #2e2e4c;
}
#nth-highest     {
    width: 100%;
    height: fit-content;
    background-color: #141421;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #2e2e4c;
}
#nth-minimum     {
    width: 100%;
    height: fit-content;
    background-color: #141421;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #2e2e4c;
}
#section-6 {
    width: 100%;
    height: fit-content;
    background-color: #141421;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #2e2e4c;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: fit-content;
}

.section-2-title,
.section-3-title,
.section-4-title,
.section-5-title
{
    color: white;
}
/* Add this style to your HomePage.css or create a new CSS file */
.scroll-up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .scroll-up-button:hover {
    background-color: #0056b3;
  }
  
@media only screen and (max-width: 600px) {
    .home-page-title {
        font-size: 22px;
    }

    #drop-constraint {
        height: auto;
    }
}
